project_id = "ltnsfyegnqdguuvnbfip"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322
major_version = 15

[studio]
enabled = true
port = 54323

[auth]
enabled = true
site_url = "http://localhost:3000"

[functions.analyze-decision]
verify_jwt = true

[functions.create-payment]
verify_jwt = true

[functions.check-payment]
verify_jwt = true